# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary files generated during the build process
*_testmain.go
*.test
*.prof

# Directories for dependency management tools like Go modules and dep
vendor/
Gopkg.lock
Gopkg.toml
go.sum

# IDE/editor specific settings
.vscode/
.idea/
*.swp
*~

# Environment variables
.env